img{
    width: 200px;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 767px) {
    .items-container{
        grid-template-columns: repeat(1, 1fr);
    }
}